<form method="post" action="{{ path('e_d_l_delete', {'id': e_d_l.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ e_d_l.id) }}">
    <button class="btn btn-sm btn-danger"><i class="fa fas fa-times"></i> Supprimer</button>
</form>
