{% extends 'gestionnaire/base.html.twig' %}

{% block title %}New TypeLogementTarif{% endblock %}

{% block body %}
    <h1>Create new TypeLogementTarif</h1>

    {{ include('type_logement_tarif/_form.html.twig') }}

    <a href="{{ path('type_logement_tarif_index') }}">back to list</a>
{% endblock %}
