<!-- Modal -->
<div class="modal fade" id="zoomImgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" >
        <div class="modal-content">
            <img src=" {{ asset('_src_/_img/' ~ article.photos[0].url) }}" width="100%" alt="">
        </div>
    </div>
</div>