{% extends 'gestionnaire/base.html.twig' %}

{% block title %}New Prospect{% endblock %}

{% block body %}
<h1><i class="fas fa-user-tag"></i> Ajouter un nouveau prospect <span class="float-right btn-group">
                    <a href="{{ path('prospect_index') }}"><button class="btn btn-sm btn-primary small"><i
                                    class="fas fa-backward"></i></button></a> &nbsp;</span></h1>

    {{ include('gestionnaire/prospect/_form.html.twig') }}

    <a href="{{ path('prospect_index') }}">back to list</a>
{% endblock %}
{% block javascripts %}
    <script>
        var inputEmail = $('#prospect_locataire_email');

        function checkMail(email) {
            $.ajax({
                url: "{{ path('checkmail') }}",
                type: "post",
                data: {email: email},
                success: function (result) {
                    inputEmail.parent().parent().find('label').html("<div class='alert col-md-12 alert-success text-success font-weight-bold small' role='alert'>" + result + "</div>");
                    $('form[name="prospect"] #submitBtn').attr('disabled', false)
                },
                error: function () {
                    inputEmail.parent().parent().find('label').html("<div class='alert col-md-12 alert-danger text-danger font-weight-bold small' role='alert'><i class='fas fa-exclamation-circle'></i>&nbsp;Email existant !</div>");
                    $('form[name="prospect"] #submitBtn').attr('disabled', true)
                }
            });
        }
    </script>
{% endblock %}