<!DOCTYPE html>
<!-- Created by pdf2htmlEX (https://github.com/coolwanglu/pdf2htmlex) -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="generator" content="pdf2htmlEX"/>
    <meta http-equiv="X-UA-Compatible" content="|E=edge,chrome=1"/>
    <title>Autorisation de prélèvement SEPA</title>
    <style>
        html, body, * {
            font-size: 9pt;
        }
    </style>
<body>
{#START ANNEXE 1#}
<div style="margin-top: 30px;">
    <div style="text-align: center">ANNEXE I</div>
    <br>
    <br>
    <div style="text-align: center"><strong>ENTRETIEN ET RÉPARATIONS LOCATIVES</strong></div>
    <br>
    <strong> Au-delà des charges locatives comprises dans la redevance mensuelle, sont également à la charge du
        sous-locataire les réparations et entretiens courants afférents au logement :
    </strong>
    <br>
    <br>
    <strong><u>1. SOLS – MURS – PLAFONDS</u></strong><br>
    <div style="padding: 5px 0 5px 20px">
        • Revêtement de sol : entretien courant (nettoyage), remplacement en cas de tâches et de trous <br>
        • Murs et plafonds : maintien en état de propreté, menus raccords en cas de tâches, rebouchage de trous <br>
        • Plinthes : fixation, maintien en état de propreté
    </div>
    <strong><u> 2. PORTES</u></strong><br>
    <div style="padding:5px 0 5px 20px">
        • Barre de seuil : fixation ou remplacement<br>
        • Serrures : graissage, remplacement (notamment du cylindre lors de clés égarées, volées ou détériorées avec
        autorisation de l’UES MGEL LOGEMENT)<br>
        • Gonds, verrous : entretien courant, graissage et remplacement<br>
        • Poignées : entretien courant, fixation, réparation<br>
    </div>
    <strong><u> 3. FENÊTRES</u></strong><br>
    <div style="padding: 5px 0 5px 20px">
        • Fusibles, coupes circuits : remplacement <br>
        • Interrupteurs, prises électriques, prises TV/téléphone, sonnette, interphone : fixation, entretien,
        remplacement<br>
        • Ampoules, néons, tubes lumineux, douilles : remplacement<br>
        • Baguettes ou gaines de protection, réglettes lumineuses, globes : réparation ou remplacement<br>
        • Convecteurs, soufflant : nettoyage, réglage<br>
        • Réfrigérateur : entretien courant, dégivrage, remplacement d’éléments cassés (porte freezer, plaque en verre,
        etc.)<br>
        • Plaques de cuisson : entretien courant, nettoyage, dégraissage<br>
        • Hotte : entretien courant, nettoyage, dégraissage, changement du filtre<br>
        • Détecteur de fumée : remplacement, changement des piles<br>
    </div>
    <strong><u> 5. INSTALLATION ÉLECTRIQUE</u></strong><br>
    <div style="padding: 5px 0 5px 20px">
        • Fusibles, coupes circuits : remplacement<br>
        • Interrupteurs, prises électriques, prises TV/téléphone, sonnette, interphone : fixation, entretien,
        remplacement<br>
        • Ampoules, néons, tubes lumineux, douilles : remplacement<br>
        • Baguettes ou gaines de protection, réglettes lumineuses, globes : réparation ou remplacement<br>
        • Convecteurs, soufflant : nettoyage, réglage<br>
        • Réfrigérateur : entretien courant, dégivrage, remplacement d’éléments cassés (porte freezer, plaque en verre,
        etc.)<br>
        • Plaques de cuisson : entretien courant, nettoyage, dégraissage<br>
        • Hotte : entretien courant, nettoyage, dégraissage, changement du filtre<br>
        • Détecteur de fumée : remplacement, changement des piles<br>
    </div>
    <strong><u>6. INSTALLATION DE PLOMBERIE</u></strong><br>
    <div style="padding: 5px 0 5px 20px">
        • Tuyauterie : nettoyage, dépoussiérage<br>
        • Fuite : réparation<br>
        • Évier (cuisine) et lavabo (salle de bains) : robinetterie, joint silicone (entretien, remplacement),
        siphon/tuyaux d’évacuation (entretien, débouchage, remplacement éventuel), nettoyage des dépôts de calcaire,
        chaînettes/bouchons (fixation ou remplacement)
        Ceci s’applique également au WC, à la douche ou baignoire<br>
        • WC : joint de cloche, mécanisme, flotteur de chasse d’eau (entretien ou remplacement), abattant/lunette
        (fixation), détartrage de la cuvette<br>
        • Douche ou baignoire : pommeau et flexible de douche (entretien ou remplacement), siphon (entretien,
        débouchage)<br>
    </div>
    <strong><u>7. DIVERS</u></strong><br>
    <div style="padding: 5px 0 5px 20px">
        • Miroir et tablette ou armoire murale de salle de bains : fixation ou remplacement<br>
        • VMC cuisine et salle de bains : nettoyage, dégraissage ou remplacement<br>
        • Équipement mobilier : lit, sommier, kitchenette (nettoyage, réparation ou remplacement) Équipement mobilier et
        appareils électrique : lit, sommier, matelas, chevet, bureau, chaise, étagère, télévision, kitchenette,
        micro-onde (nettoyage, réparation, remplacement, ou dégraissage)<br>
        • Émetteur parking : changement de la pile, remplacement si perte, vol ou casse<br>
    </div>
    <br><br>
    <strong> Cette liste n’est pas exhaustive. Les montants forfaitaires applicables en cas de dégradation sont
        consultables dans l’Espace Personnel du sous-locataire.
    </strong>
</div>
{#END ANNEXE 1#}
</body>
</html>
