<!DOCTYPE html>
<!-- Created by pdf2htmlEX (https://github.com/coolwanglu/pdf2htmlex) -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="generator" content="pdf2htmlEX"/>
    <meta http-equiv="X-UA-Compatible" content="|E=edge,chrome=1"/>
    <title>Autorisation de prélèvement SEPA</title>
    <style>
        html, body, * {
            font-size: 11pt;
        }
    </style>
<body>
<div style="text-align: center">
    <b>ANNEXE COLOCATION</b>
    <br>
    <br>

    <u><b>Logements en colocation</b></u>

</div>
<br>
<br>

Les logements sous-loués en colocation comprennent une cuisine commune, et en fonction des logements une salle de bains également. Chaque sous-locataire dispose d'une pièce privative selon description dans le contrat. Les sous-locataires :
<br>
<div style="padding: 5px 0 0 15px">
    •	S'organiseront pour la prise en charge et le partage de la facture énergétique selon les modalités de l'article 6-3. En cas de départ d'un des occupants, le deuxième, s'il n'est pas mentionné au contrat, régularisera la situation auprès du fournisseur.
    <br>
    •	S'organiseront et seront solidaires pour la prise en charge de la taxe d’habitation du logement, selon les modalités de l’article 3-6.
    <br>
    •	Seront solidairement tenus responsables de toutes dégradations dans les parties communes. <br>
</div>
<br>
Chaque locataire s’engage à respecter son ou ses colocataires afin de ne pas nuire à leur(s) tranquillité(s), à respecter la propreté des lieux, afin que la vie dans le logement se passe dans de bonne condition.
<br>
<br>
Il convient à chaque colocation de trouver son mode de fonctionnement interne en se respectant les uns les autres.
</body>
</html>
