<!DOCTYPE html>
<!-- Created by pdf2htmlEX (https://github.com/coolwanglu/pdf2htmlex) -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="generator" content="pdf2htmlEX"/>
    <meta http-equiv="X-UA-Compatible" content="|E=edge,chrome=1"/>
    <title>Autorisation de prélèvement SEPA</title>
    <style>
        html, body, * {
            font-size: 9pt;
        }
    </style>
<body>
{#START ANNEXE 2#}
{% if locataire.logement.residence.id == 28 %}
    <div style="margin-top: 20px;font-size: 10pt">
        <div style="border:1px solid black;padding: 15px;text-align: center;margin-top: 10px">
            <strong>Annexe II <br>
                Règlement Intérieur (DOMIAL)</strong> <br>
            <i>Complétant les conditions générales et particulières du contrat de location</i>
        </div>
        <br>
        <br>
        <i>Complétant les conditions générales et particulières du contrat de location</i> <br>
        Le présent règlement est établi à l'attention des locataires, leurs ayants droits et de tous les occupants à
        quelque titre que ce soit, le cas échéant de leurs visiteurs. En obtenant du propriétaire les droits d'une
        convention locative, chaque locataire entre dans une collectivité d'habitation avec les devoirs et droits
        qu'impliquent la vie en commun, l'utilisation, l'entretien, la propreté des lieux et des équipements qui sont
        mis à sa disposition. Chaque locataire doit maintenir son logement dans un bon état de propreté. Il doit
        utiliser avec soin les équipements mis à sa disposition.
        <br>
        <br>
        <strong>ARTICLE 1 - Règles de vie collective</strong> <br>
        <strong>1.1 : Les bruits et odeurs</strong> <br>
        Les locataires doivent s'abstenir, ainsi que leurs enfants et leurs invités, de tout agissement pouvant nuire à
        la tranquillité de leurs voisins. Ils doivent éviter les bruits, chants et usage d'instruments divers troublant
        la quiétude de l'immeuble. L'usage des appareils de radio et de télévision ne doit pas être perceptible par vos
        voisins, même dans la journée. Les travaux de bricolages devront être effectués les jours ouvrés de 9h00à 19h30.
        <br>
        Chaque occupant doit veiller à ne pas troubler la tranquillité des voisins par des odeurs quelconques. <br>
        <strong>1.2 : Les animaux</strong> <br>
        Les chiens et les chats sont acceptés à condition de ne pas gêner les autres occupants par leurs bruits ou
        odeurs. Ils doivent être tenus en laisse dans les parties communes intérieures et extérieures de l'immeuble. Les
        frais de remise en état des parties souillées ou dégradées seront à la charge du locataire propriétaire de
        l'animal.
        <br>
        En cas de non-respect de ces dispositions, le propriétaire se verra dans l'obligation de mettre fin à cette
        tolérance. Le possesseur d'un animal présentant une certaine agressivité et susceptible de mettre en danger la
        sécurité des occupants de l'immeuble pourra être contraint de se séparer de son animal ou de quitter les lieux.
        <br>
        La détention de chiens dits de première et deuxième catégorie de type pitbulls et assimilés (bullterriers,
        american stattfordshire, rottweiller, etc.) est formellement interdite. De plus, en application de la loi 70-528
        du 9 juillet 1970, il est formellement interdit de détenir des animaux qui ne peuvent être considérés comme
        animaux familiers.
        <br>
        <strong>1.3 : Tapis et fenêtre</strong> <br>
        Il est interdit de secouer ou battre les tapis et paillassons par les fenêtres, loggias et balcons. Il ne pourra
        être étendu de linge aux fenêtres mais cela sera toléré sur les balcons d'une façon discrète afin de ne pas
        nuire à l'esthétique de la résidence.
        <br>
        <strong>1.4 : Les parties communes</strong> <br>
        Les couloirs, escaliers, entrées, locaux vide-ordures et les placards des gaines techniques ne doivent pas être
        encombrés par des matériels comme les vélos, landaus, cartons, caisses, chaussures, etc. ni être utilisés par
        les occupants pour leur usage personnel. D'autre part, le nettoyage de matériel (tapis, deux roues, etc.) à
        l'intérieur des parties communes n'est pas autorisé.
        <br>
        <b>1.4 : Les parties communes</b> <br>
        Il est interdit de jeter des ordures ou autres objets par les fenêtres, balcons, loggias ou dans les cages
        d'escaliers. Il est également interdit de les stocker, même temporairement, devant les portes palières.
        Les ordures doivent être déposées dans un local prévu spécialement à cet effet. Les déchets doivent être
        préalablement emballés dans un sac plastique et les cartons devront être déchirés auparavant en morceaux.
        Les objets encombrants doivent être portés par le résident dans une décharge ou sortis par ses soins, au plus
        tôt la veille du passage des services spécialisés, mais, en aucun cas, ils ne doivent être entreposés dans les
        locales poubelles ou autres parties communes de l'immeuble. <br>
        Dans le cas où il existe un vide-ordures : Obligation d'emballer les déchets dans un sac plastique avant de les
        jeter. Ceci par souci de propreté, d'hygiène et d'éviter des odeurs nauséabondes. Il est également interdit de
        jeter des objets lourds et volumineux dans les vide-ordures. <br>
        <b>1.6 : Dégradations</b> <br>
        Les dégradations occasionnées par les enfants seront à la charge des locataires ou des contrevenants s'ils sont
        connus. Il s'agit des détériorations des parties communes intérieures (graffitis, détériorations des prises de
        courant, des clenches de portes, des lampes) et extérieures (espaces verts, clôtures et autres passages
        interdits). Les sports collectifs sur les espaces verts et dans toutes les parties communes intérieures ne sont
        pas autorisés.<br>
        <b>1.7 :</b> Il est interdit de couper du bois dans les parties communes ou privatives des immeubles.<br>
        <br>
        <b> Article 2 - Utilisation des parties privatives</b><br>
        <b>2.1 : Les antennes individuelles</b><br>
        La pose d'antenne individuelle ou de parabole sur le toit de l'immeuble est strictement interdite sans
        autorisation préalable écrite du propriétaire. Aucune partie des bâtiments ne peut servir de support à une
        antenne particulière, que ce soit les cheminées, la charpente, les balcons, etc...<br>
        Il est impératif de demander par écrit l'autorisation de poser une parabole en mentionnant les chaines de TV que
        vous voulez capter. Il est en de même pour toute antenne individuelle émettrice réceptrice de radio,
        radioamateur cibiste,....<br>
        <b>2.2 : La sécurité</b><br>
        <b>2.2.1 :</b> La sécurité dépend du bon fonctionnement des appareils et installations de chaque logement
        (chauffage individuel, équipement électroménager et appareils sanitaires). Ils devront être parfaitement
        entretenus par leurs usagers. Ces derniers devront également remplacer les fusibles défaillants du tableau
        électrique. Par ailleurs, tout remplacement d'un fusible par du papier aluminium ou du cuivre est strictement
        interdit.<br>
        <b>2.2.2 :</b> Il est interdit d'apporter des modifications et des adjonctions sur l'installation électrique du
        logement.<br>
        <b> 2.2.3 :</b> Tout appareil domestique doté d'une résistance électrique ou nécessitant un combustible doit
        être utilisé conformément aux instructions des constructeurs.<br>
        <b>2.2.4 :</b> L'usage des barbecues (électrique, à gaz ou à bois) est interdit dans les immeubles collectifs, y
        compris sur les terrasses, balcons ou en rez-de-jardin<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="padding-top:30px">
            <b>2.2.5 :</b> " est interdit de poser des objets sur le bord des fenêtres. Les bacs à fleurs devront être stables,
            bien fixés et reposer sur des dessous étanches à l'intérieur des balcons. L'arrosage des fleurs doit être fait
            avec attention afin d'éviter tout écoulement chez le voisin. " Est interdit de disposer de claies, canisses,...
            sur les garde-corps et séparations de balcons, sauf autorisation expresse du bailleur. " est interdit de jeter
            des objets par les fenêtres.<br>
            <b>2.2.6 :</b> Le stockage de combustible liquide ou gazeux dans les locaux d'habitation devra se conformer strictement
            au règlement sanitaire départemental.<br>
            <b>Article 2.3 : Travaux dans les logements</b> <br>
            <b> 2.3.1 :</b> " est strictement interdit de crépir les murs, poser des lambris, peindre ou percer le carrelage, percer
            les menuiseries, percer les planchers (béton ou bois), poser des dalles polystyrène au plafond de votre
            logement.<br>
            <b> 2.3.2 :</b> Toute modification importante du bien loué devra faire l'objet au préalable d'une autorisation écrite du
            bailleur. Il en est de même pour tous travaux de revêtement de sol (pose de moquette, parquet, revêtement PVC,
            carrelage). Seuls les travaux de peinture ou de papier peint pourront être effectués sans autorisation du
            bailleur, à l'exception des revêtements muraux projetés type « Praya » qui ne peuvent pas être modifiés. De
            plus, tous travaux de papier peint devront s'accompagner au préalable de la dépose complète du revêtement
            existant. L'ensemble des frais résultant de ces travaux d'embellissement restent à la charge du locataire. Il ne
            pourra être demandé aucune participation de quelque sorte qu'elle soit lors de la sortie du logement.<br>
            <b>2.3.3 </b>: Interdiction de peindre les joints d'étanchéité des menuiseries extérieures et prendre toutes les
            précautions pour ne pas les souiller lors des travaux de rénovation de peinture, et ce pour préserver
            l'étanchéité à l'air et à l'eau de ces menuiseries. Il appartient aux locataires d'entretenir et de procéder à
            la réfection des mastics des vitrages, de graisser les paumelles et ferrures et de réparer les boutons et
            poignées.<br>
            <b>2.3.4 : </b>Dans le cas de la pose d'un verrou de sûreté, l'axe du verrou sera situé à 12 cm au-dessus de la plaque
            de propreté protégeant la serrure. Les clés permettant son utilisation sont à remettre en même temps que les
            clés principales du logement au bailleur lors de la sortie des lieux.<br>
            <b>2.3.5 :</b> Dans le cas de l'installation d'un appareil de contrôle visuel, l'axe sera situé au centre de la porte,
            à 1,60 m du bas de la porte.<br>
            <b>Article 2.5 : Utilisation des équipements du logement</b> <br>
            <b>2.5.1 :</b> L'usage de chauffages d'appoint au gaz (butane, propane) ou au fuel est générateur de vapeur d'eau et
            entraîne donc des traces d'humidité et l'apparition de moisissures sur les murs et plafonds. Leur utilisation
            est interdite.<br>
            <b>2.5.2 : </b>Consommation d’eau : dans leur propre intérêt, il est recommandé aux locataires de faire un usage
            économique de l'eau. Aussi lorsqu'il y a danger de gel, les fenêtres des caves ou d'autres locaux contenant une
            canalisation d'eau devront être fermées et calfeutrées afin d'éviter la congélation.<br>
            <b>2.5.3 :</b> Chauffe-eau électrique : le locataire devra surveiller le groupe de sécurité et signaler tout
            dysfonctionnement à son bailleur. Il est interdit d'entasser et d'encombrer par des objets divers, le dessous du
            chauffe-eau, pour éviter les risques d'incendie.<br>
            <b>2.5.4 :</b> Les ventilations : tous les logements sont équipés d'une ventilation. Celle-ci fonctionne jour et nuit
            en toute saison. Elle sert à renouveler l'air de votre appartement. Des bouches d'extraction installées dans
            votre cuisine, salle de bains et W.C. évacuent l'air vicié et humide.<br>
            Par ailleurs, des grilles placées au-dessus des fenêtres permettent un apport d'air frais. La circulation de
            l'air est rendue possible à travers les pièces par un espace d'une quinzaine de millimètres au bas des portes
            intérieures, si ces dernières sont en position fermées.<br>
            Par conséquent, un entretien régulier (dépoussiérage, lavage) des grilles d'entrée d'air et bouches d'extraction
            doit être effectué par les locataires. Il est de plus formellement interdit de brancher un appareil sur ces
            ventilations (hotte de cuisine ou tuyau d'évacuation de sèche-linge par exemple).<br>
            Lorsque vous obstruez ces grilles (d'entrée d'air ou d'extraction), vous empêchez une diffusion optimale de
            l'air et de la chaleur en hiver.<br>
            Vous risquez notamment l'apparition de moisissures dans votre logement ainsi qu'une intoxication au monoxyde de
            carbone. Une remise en état des lieux pourra alors vous être imputée.<br>
            <b>2.5.5 :</b> Il est interdit de faire usage d'appareils de chauffage à combustion lente ou de combustible de nature à
            provoquer du bistre ou une condensation d'eau dans les conduits de fumée et dans le logement, ou un autre
            trouble de jouissance quelconque du voisinage. Les locataires étant responsables de tout dommage ou trouble
            résultant d'une infraction à cette obligation.<br>
            Il est également interdit d'utiliser les conduits de fumée pour l'évacuation d'un poêle dans les logements
            équipés d'un chauffage central ou électrique ou pour le raccordement d'une hotte électrique.<br>
            Les personnes qui outrepasseront cette mesure le feront à leurs risques et périls.<br>
            <b>2.5.6 :</b> Le locataire fera ramoner les conduits de fumée à ses frais aussi souvent que le prescrivent les arrêtés
            municipaux ou préfectoraux en vigueur si ce service n'est pas assuré par le bailleur.<br>
            <b> 2.5.7 :</b> Pour les logements dotés d'un jardin privatif, celui-ci doit être maintenu en parfait état de propreté
            de culture et de plantation. Les arbres s'ils existent, doivent être taillés et les clôtures maintenues propres
            et en bon état.<br>
            <b>2.5.8 :</b> Dans les logements individuels, les chêneaux, gouttières et descente d'eaux pluviales doivent être
            dégorgés.<br>
            <b>2.5.9 :</b> Toute construction annexe, abris de jardin, appentis et autres ossatures est strictement interdite.<br>
            Le stockage éventuel des stères de bois (dans le cas d'un chauffage individuel par poêle à bois) n'est pas
            toléré contre les façades. Ce stockage pourra éventuellement se faire derrière des haies vives, mais après
            consultation et accord du propriétaire.<br>
            <b>2.5.10 :</b> Pendant les gelées, sous peine de demeurer personnellement des réparations rendues nécessaires, les
            radiateurs, réservoirs d'eau, compteurs, canalisations, robinetteries doivent être protégés, ceci spécialement
            en l'absence de chauffage collectif.
            <br><br>
            <b>Article 3 : Utilisation des parties communes</b><br>
            <b>Article 3.1 : L'immeuble</b><br>
            <b> 3.1.1 :</b> Les façades et murs de façades : Toute modification de l'aspect général de l'immeuble par des
            installations individuelles complémentaires aux fenêtres ou aux balcons est interdite.<br>
            <b>3.1.2 :</b> Il est interdit de verser dans les égouts extérieurs et intérieurs de l'immeuble des résidus liquides
            (en particulier les huiles de vidange, peintures, solvants). Les auteurs de tels méfaits sont passibles de
            poursuites judiciaires.<br>
        </div>
        <div><br><br></div>
        <b>3.1.3 :</b> Aucun écriteau, plaque, enseigne, boîte aux lettres, inscriptions, etc., quelles qu'en soient la nature,
        la teneur ou la forme, ne pourra figurer sur les murs intérieurs ou extérieurs des immeubles, halls, escaliers,
        paliers, portes, etc., sans l'autorisation écrite du bailleur.<br>
        <b>Article 3.2 : Utilisation des voies de circulation</b> <br>
        <b>3.2.1 :</b> Les parkings ne doivent être utilisés que pour le stationnement temporaire de véhicules de tourisme en
        état de marche. Le lavage des voitures sur les parkings ou sur les voies est formellement interdit de même que
        les vidanges et réparations. Le stationnement de camions, remorques, caravanes, etc., est interdit.<br>
        <b>3.2.2 :</b> Pour les véhicules qui ne sont plus en état de marche, le bailleur se réserve le droit, après mise en
        demeure, de faire procéder à l'enlèvement du véhicule pour dépôt dans une décharge publique, le tout au frais du
        propriétaire dudit véhicule.<br>
        <b>3.2.3 :</b> Le chemin d'accès à l'immeuble doit toujours être libre afin de ne pas entraver la circulation en cas
        d’urgence : ambulance, pompiers, etc. Les voies de circulation ne doivent pas être utilisées comme un espace de
        jeux (ballon, rollers, skateboard,...). Il est interdit de stationner son véhicule devant les portes d'entrée
        d'immeuble ou de gêner la sortie des bennes à ordures.<br>
        <b>3.2.4 :</b> Les bicyclettes et les voitures d'enfants doivent être exclusivement garées dans les locaux ou
        emplacements prévus à cet effet.<br>
        <b> 3.2.5 :</b> Il est interdit de circuler à vélomoteur ou moto sur les coursives et voies privées réservées aux
        piétons, ni sur les voies desservant les centres commerciaux.<br>
        <b>Article 3.3 : La sécurité</b><br>
        <b>3.3.1 :</b> Toutes les portes extérieures d'accès à l'immeuble doivent être constamment fermées, de jour comme de
        nuit, ceci afin d'éviter les intrusions, les vols et les détériorations. Il est cependant interdit de les fermer
        à clé.<br>
        <b>3.3.2 :</b> Il est interdit de faire fonctionner les systèmes de désenfumage des cages d'escalier (ouvertures et
        fermetures). Seuls les pompiers ou une société habilitée pourront procéder aux manipulations adéquates.<br>
        <b>3.3.3 :</b> Les portes de recoupement de type coupe-feu (entre les cages d'escalier et les paliers communs) doivent
        être constamment fermées. Le blocage par cales ou autres est strictement interdit.<br>
        <b>3.3.4 :</b> Dans les immeubles comportant un ascenseur, les enfants de moins de 12 ans devront obligatoirement être
        accompagnés. Les appareils doivent être utilisés conformément aux instructions des constructeurs et être
        maintenus en bon état de propreté et d'usage. Il est interdit d'utiliser l'ascenseur comme toilette ou
        équipement de jeu.<br>
        <b>3.3.5 :</b> Il est interdit de séjourner dans les halls et entrées d'escaliers ou d'entraver la circulation des
        résidents.<br>
        <b>3.3.6 :</b> Les locataires doivent intervenir auprès des enfants pour interdire les jeux dangereux susceptibles
        d'être à l'origine d'accidents ou de dégradation dans les halls et cages d'escaliers.<br>
        <b>3.3.7 :</b> Il est interdit de fumer dans les halls et cages d'escalier.<br>
        <b> Article 3.4 : Nettoyage des parties communes et escaliers</b> <br>
        Lorsqu'il n'est pas prévu de nettoyage par une entreprise extérieure ou un employé d'immeuble, chaque locataire
        (en alternance avec son éventuel voisin de palier), est tenu de balayer et de nettoyer une fois par semaine la
        partie de la cage d'escalier lui incombant (le palier de son étage jusqu'à celui de l'étage immédiatement
        inférieur).<br>
        <b>Article 3.5 : Aires de jeux et espaces verts</b> <br>
        <b>3.5.1 :</b> Les parents devront veiller à ce que les enfants ne jouent qu'aux seuls emplacements réservés à cet
        effet ; le sable des aires de jeux ne doit pas être transporté, ni répandu hors des bacs aménagés pour le
        recevoir. Les enfants en bas âge ne doivent en aucun cas être laissés sans surveillance. Les locataires
        s'engagent à ne pas rechercher la responsabilité du Groupe DOMIAL pour les accidents qui pourraient être causés
        par les installations fixes ou mobiles des terrains de jeux.<br>
        Il est strictement interdit de laisser pénétrer tous les animaux domestiques dans les aires de jeu.<br>
        <b>3.5.2 :</b> Les espaces verts doivent être conservés dans un parfait état d'hygiène. Les locataires n'y
        abandonneront aucun détritus ou objet dangereux.<br>
        <b>3.5.3 :</b> " est également défendu de cueillir des fleurs ou d'arracher des branches aux arbres et arbustes, de
        détériorer les bancs et jeux.<br><br>

        <b>Fait à Vandœuvre-lès-Nancy, en un exemplaire,</b> destiné à l’UES MGEL LOGEMENT, <br>
        Un exemplaire scanné sera mis à dispos. <br>
        Le {{ locataire.lastContrat.dateSignature|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }} <br>
        <br>
        <div style="border: 1px dashed black;padding: 5px;width: 100%;height: 50px;">
            <div style="width: 33%;float: left;text-align: center"> Le sous-locataire</div>
            <div style="width: 33%;text-align: center;float: left">Le garant</div>
            <div style="width: 33%;float:left;">UES MGEL LOGEMENT</div>
        </div>
        <div style="text-align: center;font-size: x-small">Signatures précédées de la mention "lu et approuvé</div>
    </div>
{% else %}
    <div style="margin-top: 20px">
        <div style="text-align: center"> ANNEXE II</div>
        <div style="border:2px solid black;padding: 15px 10px 10px 10px;text-align: center;width: 40%; margin: auto">
            <strong><u><span style="font-size: 15pt">RÈGLEMENT INTÉRIEUR</span></u><br>
                <br>
                <i>Résidence MGEL LOGEMENT</i></strong>
        </div>
        <br>
        Le présent règlement est établi à l’attention des sous-locataires. <br>
        Ces prescriptions, édictées dans l’intérêt commun, ont pour objet essentiel la bonne tenue de l’immeuble et le
        respect des règles de bienséance, d’hygiène et de sécurité qui s’imposent à toute la collectivité.
        <br>
        Pour en obtenir le respect par les autres, commencez à le respecter vous-mêmes. Il vous aidera à ce que votre
        vie quotidienne soit des plus studieuses.
        <br>
        <br>
        <strong><u>L’U.E.S. MGEL LOGEMENT peut à tout moment modifier ou compléter ce règlement.</u></strong><br>
        <br>
        <div style="border: 1px solid black;padding: 5px;text-align: center">
            <strong>USAGE DES PARTIES COMMUNES</strong>
        </div>
        <br>
        Les parties communes intérieures et extérieures ne devront jamais être embarrassées de quelque objet que ce
        soit.
        <br>
        En cas d’infraction et après constat et mise en demeure de débarrasser restée infructueuse, l’enlèvement sera
        effectué à la diligence de l’U.E.S. MGEL LOGEMENT ou de son représentant, aux frais du contrevenant.
        <br>
        Il est strictement interdit de fumer dans les parties communes (décret n°2006-1386 du 15 novembre 2006 fixant
        les conditions d’application de l’interdiction de fumer dans les lieux affectés à usage collectif), et d’y
        effectuer des travaux de ménage et de bricolage.
        <br>
        Nous vous demandons la plus grande bienveillance quant à la propreté des lieux et à la totalité du matériel mis
        à votre disposition dans les salles communes : <strong>les consignes d’utilisation à respecter sont
            affichées.</strong> Toutes détériorations constatées seront à la charge du ou des responsables. Nous vous
        demandons de laisser le matériel mis à votre disposition dans la salle où il a été installé. Après chaque
        utilisation, nous vous demandons d’éteindre les lumières, de réduire le chauffage, de fermer la porte à clé et
        de fermer les volets. Le prêt de clés à une personne extérieure à la résidence pour usage des communs est
        strictement interdit.
        <br>
        L'U.E.S. MGEL LOGEMENT se réserve la faculté d’interdire l’accès de l’une des parties communes. <br>
        L’accès aux toitures est rigoureusement interdit. <br>
        <br>
        <strong>COMMUNS</strong> - Selon les résidences : <br>
        <u>SALLES COMMUNES :</u> salle télévision, salle de détente, salle de sport, buanderie, cafétéria, salle de
        coworking, espace wellness.
        <br>
        <u>PARTIES COMMUNES :</u> entrée, rez-de-chaussée, couloirs, ascenseur(s), cage(s) d’escaliers, parking, espaces
        verts, local/abri vélos et local poubelles.
        <br>
        <br>
        <div style="border: 1px solid black;padding: 5px;text-align: center">
            <strong>CONSIGNES A RESPECTER EN FONCTION DES SERVICES PROPOSES</strong>
        </div>
        <br>
        Les services sont à la jouissance exclusive des sous-locataires. <br>
        <br>
        <strong><u>1. SALLE TÉLÉVISION, SALLE DE COWORKING, SALLE DE SPORT, SALLE DE DÉTENTE</u></strong> <br>
        Les salles de télévision et de coworking sont accessibles sans restriction d’horaires, tout en respectant un
        volume sonore raisonnable.
        <br> Les salles de sport et de détente sont accessibles de 08 heures à 22 heures.
        <br>
        <br>
        <strong><u>2. BUANDERIE</u></strong> <br>
        Chaque sous-locataire pourra y accéder de 08 heures à 22 heures, et devra apporter sa lessive et adoucissant. Il
        est interdit de laver et sécher des chaussures, baskets, couettes, oreillers, tapis, etc., ainsi que le linge
        d’autrui. Il convient de laisser le lieu propre après chaque utilisation et de respecter les consignes
        affichées.
        <br>
        <br>
        <strong><u>3. CAFETERIA</u></strong> <br>
        La cafétéria est accessible de 7 heures à 8 heures 30, du lundi au vendredi à l’exception des jours fériés, des
        ponts, et des périodes de congés scolaires. Il conviendra de respecter le matériel mis à disposition et de
        laisser le lieu propre après son utilisation. Les sous-locataires devront se conformer au règlement affiché.
        <br>
        La cafétéria est accessible aux heures d’ouvertures affichées. Ce service est payant, les tarifs étant affichés
        à la résidence.
        <br>
        <br>
        <strong><u>4. ESPACE WELLNESS</u></strong> <br>
        La sauna est accessible aux heures d’ouverture du bureau de la résidence. L’accès s’effectuera par le biais
        d’une clé prêtée par le bureau, et sous condition de réservation. Il conviendra de respecter le règlement
        affiché à l’entrée du sauna. Tout sous-locataire ne respectant pas le règlement pourra se voir retirer le droit
        d’accès à ce service sans compensation sur le prix du loyer.
        <br>
        <br>
        <div style="margin-top: 00px">
            <strong><u>5. INTERNET</u></strong> <br>
            Nos résidences (sauf « Du Mail » et « Jean Jaurès ») disposent d’Internet via SFR. Ce service permet à tous
            nos sous-locataires d’aller chercher un modem gratuitement auprès de SFR ce qui leur permettra d’avoir accès
            à Internet haut débit et accès à toutes les chaînes de la TNT diffusées sur la commune.
            <br>
            Lorsque le sous-locataire quittera le logement, celui-ci devra restituer le modem à SFR. Un courrier doit
            être réalisé auprès du service Résiliation de SFR, au moins un mois avant la restitution en agence. Le
            sous-locataire est responsable du matériel prêté par SFR.
            <br>
            En aucun cas l’UES MGEL LOGEMENT ne pourra être tenu responsable d’un problème de connexion lié au modem
            fourni par SFR.
            <br>
            Ce service a été mis en place pour un usage normal sur le web et non pour opérer à des téléchargements
            réguliers ou toutes opérations entraînant une consommation importante de la bande passante (Streaming,
            Télévision, Skype, P2P, etc.).
            <br>
            <br>
            <strong><u>6. RESSOURCES INFORMATIQUES</u></strong> <br>
            Il est rappelé aux sous-locataires que :<br>
            Les ressources informatiques ne doivent en aucune manière être utilisées à des fins de reproduction, de
            représentation, de mise à disposition ou de communication au public d’œuvres ou d’objets protégés par un
            droit d’auteur ou par un droit voisin, tels que des textes, images, photographies, œuvres musicales, œuvres
            audiovisuelles, logiciels et jeux vidéo, sans autorisation des titulaires des droits prévus aux livres Ier
            et II du code de la propriété intellectuelle lorsque cette autorisation est requise.
            L’utilisateur est tenu de se conformer à la politique de sécurité de la résidence y compris aux règles
            d’utilisation des moyens de sécurisation mis en œuvre dans le but de prévenir l’utilisation illicite des
            ressources informatiques et de s’abstenir de tout acte portant atteinte à l’efficacité de ces moyens.
            <br>
            Il est rappelé à cet égard que le titulaire d’un accès à Internet, dans une résidence MGEL LOGEMENT, est
            tenu de sécuriser cet accès afin qu’il ne soit pas utilisé à des fins de reproduction, de représentation, de
            mise à disposition ou de communication au public d’œuvres ou d’objets protégés par un droit d’auteur ou par
            un droit voisin.
            <br>
            S’il ne se conforme pas à cette obligation, le titulaire peut voir sa responsabilité pénale engagée au titre
            de la négligence caractérisée. Cette contravention est punie d’une peine d’amende d’un montant maximum de
            1500 euros pour les personnes physiques et 7500 euros pour les personnes morales, qui peut être assortie
            d’une peine de suspension de l’accès à Internet d’une durée maximum d’un mois. Ces sanctions sont prononcées
            par le juge judiciaire.
            <br>
            Cette responsabilité du titulaire de l’accès n’exclut en rien celle de l’utilisateur qui peut se voir
            reprocher un délit de contrefaçon (article L.335-3 du Code de la propriété intellectuelle).
            <br>
            <br>
            <strong><u>7. ASCENSEUR (sauf pour les résidences Ulysse et Jean Jaurès)</u></strong> <br>
            L’usage de l’ascenseur est interdit aux enfants non accompagnés. Les sous-locataires sont tenus de se
            conformer aux prescriptions d’usage. En cas de panne ou de mauvais fonctionnement, les sous-locataires
            prendront directement contact avec l’UES MGEL LOGEMENT qui se chargera de prendre les dispositions
            nécessaires.
            <br>
            <br>
            <strong><u>8. ORDURES MÉNAGÈRES</u></strong> <br>
            Les sacs poubelles doivent impérativement être déposés <strong>dans les containers disposés à cet effet dans
                le local à poubelles ou dans ceux situés à l’extérieur des résidences.</strong> Aucun sac poubelles ne
            doit être stocké dans les parties communes de la résidence. Nous demandons aux sous-locataires de respecter
            le tri des emballages recyclables.
            <br>
            Les encombrants (mobiliers, électroménager…,) ainsi que les cartons, et autres objets ne rentrant pas dans
            les conteneurs, devront être déposés directement en déchetterie par le sous-locataire. Si ces prescriptions
            ne sont pas respectées, l’UES MGEL LOGEMENT facturera, les frais d’enlèvement, à hauteur de 50 € par objets
            déposés au locataire responsable.
            Le sous-locataire est tenu d’utiliser des sacs poubelles réglementaires et de respecter la propreté des
            lieux.
            <br>
            <br>
            <strong><u>9. LOCAL OU ABRIS VÉLOS</u></strong> <br>
            Le sous-locataire est responsable de son vélo. <br>
            L’U.E.S. MGEL LOGEMENT décline toute responsabilité pour les incidents dommages, ou vols qui pourraient être
            causés aux vélos se trouvant dans le local vélo ou sur les emplacements extérieurs prévus à cet effet.
            <br>
            <br>
            <strong><u>10. ESPACES VERTS</u></strong> <br>
            Ces espaces sont prévus pour l’agrément de la collectivité. <br>
            <br>
            <strong><u>11. CIRCULATION ET STATIONNEMENT</u></strong> <br>
            Les sous-locataires sont tenus de respecter la réglementation imposée par l’U.E.S. MGEL LOGEMENT. Les
            sous-locataires sont tenus de circuler au ralenti dans l’enceinte du parking et de respecter les
            emplacements réservés. Lors de tout arrêt, quelle qu'en soit la nature, les moteurs doivent être coupés.
            <br>
            Il est interdit d’écouter de la musique dans les voitures avec un niveau sonore pouvant déranger le
            voisinage.
            <br>
            L’UES MGEL LOGEMENT se réserve le droit de résilier le contrat d’emplacement parking en cas de non-respect
            de la réglementation.
            <br>
            Aucun lavage ni graissage de voiture ne sera admis à l’intérieur du parking. Tout véhicule abandonné pourra
            être enlevé à l’initiative de l’U.E.S. MGEL LOGEMENT, aux frais de son propriétaire.
            <br>
            L’U.E.S. MGEL LOGEMENT décline toute responsabilité pour les incidents ou dommages qui pourraient être
            causés aux véhicules motorisés en stationnement sur le parking.
            <br>
            <br>

            <strong><u>12. REPRÉSENTANTS, QUÊTES</u></strong> <br>
            L’accès à la résidence est interdit aux représentants, démarcheurs et quêteurs. <br>
        </div>
        <div style="clear: both;margin-top: 20px">
            <strong><u>13. TRANQUILLITÉ DES SOUS-LOCATAIRES</u></strong> <br>
            Tous les actes ou attitudes pouvant troubler la tranquillité ou la sécurité de l’immeuble ou nuire à sa
            bonne tenue sont interdits.
            <br>
            Tous les bruits et sons, sans exception, sont interdits lorsqu’ils sont de nature à troubler le repos et la
            tranquillité du voisinage. Les sous-locataires responsables de ces débordements s’exposeront à des
            poursuites. De la même manière, les sous-locataires sont responsables des personnes qu’ils reçoivent.
            <br>
            <br>
            <strong><u>14. FENÊTRES</u></strong> <br>
            Il est interdit d’y étendre du linge, d’y fixer des antennes et d’y installer à demeure des objets (pots de
            fleurs, cendriers, etc.).
            Il est interdit de brosser, secouer ou jeter quoi que ce soit par les fenêtres (mégots de cigarettes, tous
            types de déchets, etc.).<br>
            <br>
            <strong><u>15. LOGEMENT - PARTIES PRIVATIVES</u></strong> <br>
            Tout affichage de posters, cadres et tout autre document ou pose d’éléments avec fixation relève de la seule
            responsabilité du sous-locataire. Les traces, marques ou trous résultant de ces personnalisations seront à
            la charge exclusive du
            sous-locataire pour rendre le logement conforme à l’état des lieux d’entrée. <br>
            Nous demandons à nos sous-locataires de respecter la tranquillité des autres résidents. À ce titre, nous
            déconseillons fortement à nos sous-locataires de détenir des animaux domestiques dans leurs appartements,
            ceci afin de ne pas créer de nuisance.
            <br>
            <br>
            <strong><u> 16. AÉRATIONS DU LOGEMENT</u></strong> <br>
            Le sous-locataire devra nettoyer régulièrement la ventilation de la cuisine, de la salle d’eau et les
            aérations des fenêtres et en aucun cas boucher les orifices de ventilation. Dans le cas du non-respect de
            ces prescriptions, il est précisé que les frais de remise en l’état seront à la charge du sous-locataire.
            <br>
            Le sous-locataire devra se rendre disponible pour laisser libre accès à son logement pour l’entretien annuel
            obligatoire des aérations.
            <br>
            <br>
            <strong><u>17. PLOMBERIE - SANITAIRES</u></strong> <br>
            Il est interdit d’y jeter des produits pouvant corroder la surface des appareils sanitaires ou les conduits
            d’écoulement, ou des corps susceptibles de les obstruer.
            <br>
            <br>
            <strong><u>18. ÉCONOMIE D’ÉNERGIE</u></strong> <br>
            Pour des raisons d’économies d’énergie dans les salles communes, nous vous invitons à éteindre les lumières
            et arrêter les équipements électriques (convecteurs, télévision, appareils électroménagers…) après
            utilisation. Ces consignes sont aussi applicables dans les logements.
            <br>
            <br>
            <strong><u>19. RESPONSABILITÉ</u></strong> <br>
            Tout représentant de l’U.E.S. MGEL LOGEMENT est habilité à exiger la stricte observation des prescriptions
            ci-dessus et à dresser constat du non-respect de ces obligations. Il est rappelé à ce titre que,
            conformément à l’article 7-1-3 du contrat de sous-location, en cas de méconnaissance grave ou renouvelée des
            obligations issues de la présente charte, le contrat de sous-location pourrait être résilié.
            <br>
            L’U.E.S. MGEL LOGEMENT décline toute responsabilité pour les accidents qui pourraient survenir aux occupants
            ou toute personne étrangère à l’immeuble du fait de l’inobservation du présent règlement.

            <br>
            <br>
            <br>
            <div style="border:1px solid black;padding: 5px;text-align: center">
                <strong><u>MODIFICATIONS DU PRÉSENT RÈGLEMENT INTÉRIEUR</u></strong> <br>
                Le présent règlement intérieur peut être modifié à tout moment par l’U.E.S. MGEL LOGEMENT et <br>
                ses nouvelles prescriptions deviennent immédiatement applicables dès affichage.
            </div>

            <br>
            <br>
            <strong>Ces dispositions reprennent pour partie les règles d’hygiène élémentaires auxquelles chaque
                sous-locataire est soumis en vertu du règlement sanitaire départemental.</strong>
        </div>
    </div>
    <div style="height: 250px"></div>
{% endif %}
{#END ANNEXE 2#}
</body>
</html>
