/*CONSOMMATION ENERGETIQUE*/
.energie-a {
    background-color: #1a7f19;
}

.energie-b {
    background-color: #50b766;
}

.energie-c {
    background-color: #aedc1a;
}

.energie-d {
    background-color: #fdf001;
}

.energie-e {
    background-color: #ffd101;
}

.energie-f {
    background-color: #fc9e01;
}

.energie-g {
    background-color: #f8000e;
}

/*EMISSION DE GES*/
.ges-a {
    background-color: #feedff;
}

.ges-b {
    background-color: #e8bff7;
}

.ges-c {
    background-color: #daa8f1;
}

.ges-d {
    background-color: #d196f4;
}

.ges-e {
    background-color: #c172f1;
}

.ges-f {
    background-color: #ac4ceb;
}

.ges-g {
    background-color: #8f19e1;
}