{% extends 'gestionnaire/base.html.twig' %}

{% block title %}New Voeu{% endblock %}

{% block body %}
    <h1>Create new Voeu</h1>

    {{ include('gestionnaire/voeu/_form.html.twig') }}

    <a href="{{ path('voeu_index') }}">back to list</a>
{% endblock %}
